# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>
SLOT_ID=<slot-id>
# Optional
PROST_RPC_URL=https://rpc-prost1c.powerloom.io
PROTOCOL_STATE_CONTRACT=0x803727326Bd602f5E2e490FCA26c4E52dB883B9f
RELAYER_HOST=https://relayer-nms-testnet-public.powerloom.io
NAMESPACE=UNISWAPV2
POWERLOOM_REPORTING_URL=https://nms-testnet-reporting.powerloom.io
PROST_CHAIN_ID=103
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
