# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>
SLOT_ID=<slot-id>
# Optional
PROST_RPC_URL=https://rpc-prost-1h-sv2cc82c3x.t.conduit.xyz
PROTOCOL_STATE_CONTRACT=0xDD5ebfadb19770C6E3f0E44bca3e1920AB73285c
RELAYER_HOST=https://relayer-devnet-1d.powerloom.dev
NAMESPACE=UNISWAPV2
POWERLOOM_REPORTING_URL=https://devnet-reporting.powerloom.dev
PROST_CHAIN_ID=11165
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
