# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>
SLOT_ID=<slot-id>
# Optional
PROST_RPC_URL=https://rpc-prost-1h-sv2cc82c3x.t.conduit.xyz
PROTOCOL_STATE_CONTRACT=0x24952DA7F22535d641ed44A6d289e38166fa7EC3
RELAYER_HOST=<relayer-host>
NAMESPACE=aavev3
POWERLOOM_REPORTING_URL=<reporting-url>
PROST_CHAIN_ID=11165
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
